.account-settings .profile_pic img {
    width: 128px;
    border-radius: 50%;
    border: 1.5px black dot-dot-dash;
}

.account-settings .user-introduction {
    font-size: 1em;
    line-height: 1.5rem;
    margin: 5px;
}

.account-settings .user-stats {
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
}
.account-settings .user-stats .bp3-tag {
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.account-settings .user-drafts {
    margin: 5px;
    padding: 5px;
}

.user-drafts button {
    width: 500px;
}

.account-settings .user-drafts ul {
    list-style: none;
    padding: 0;
}

.user-drafts .draft {
    width: 500px;
    margin: 0 auto;
    overflow: auto;
    text-align: initial;
}

.user-drafts .draft .draft-title{
    font-size: 1.4em;
    font-weight: 700;
}

.user-drafts .draft .draft-time-stamp{
    font-size: 1em;
    font-style: italic;
}

.user-drafts .draft .draft-sneakpeak{
    margin-top: 15px;
}

.account-settings .user-blogs {
    margin: 5px;
    padding: 5px;
}

.user-blogs button {
    width: 500px;
}

.account-settings .user-blogs ul {
    list-style: none;
    padding: 0;
}

.account-settings .user-stats {
    margin: 15px;
}

.blog-summary-wrapper {
    width: 700px;
    margin: 0 auto;
}

.blog {
    overflow: auto;
    text-align: initial;
    display: flex;
}

.blog .blog-cover {
    height: 150px;
    padding: 3px;
    margin: 3px 7px 3px 3px;
}

.blog .bp3-non-ideal-state {
    height: 150px;
    width: 250px;
    padding: 3px;
    margin-right: 3px 7px 3px 3px;
}

.blog .blog-info .blog-title{
    font-size: 1.4em;
    font-weight: 700;
}

.blog .blog-info .blog-time-stamp{
    font-size: 1em;
    font-weight: 200;
    font-style: italic;
    color: #949292;
}

.blog .blog-info .blog-author{
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    color: #777676;
}

.blog .blog-info .blog-sneakpeak{
    margin-top: 15px;
}

.edit-profile-pic-overlay .bp3-card, .edit-display-name-overlay .bp3-card {
    min-width: 300px;
    min-height: 200px;
}