.blog-crawler {
    margin: 0 0 20px 0;
    white-space: nowrap;
    overflow: hidden;
    border: 1px black solid;
    border-radius: 5px;
    height: 110px;
    padding: 5px;
    cursor: pointer;
}

.blog-item > * {
    margin: 0px;
}

.blog-crawler .blog-item {
    display: inline-block;
    padding-left: 100%;
    animation: blog-crawler 5s linear infinite;
}

.blog-crawler :hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes blog-crawler {
    0%   { transform: translate(0,0);
        font-style:italic;
        opacity:0;}
    5%   { opacity:0;}
    14%  { opacity:0.8;}
    15%  { transform: translate(-46%, 0);
        opacity:1;
        font-style:normal;}
    85%  { transform: translate(-54%, 0);
        opacity:1;
        font-style:normal;}
    86%  { opacity:0.8;}
    96%  { opacity:0;}
    100% { transform: translate(-100%, 0);
        opacity:0;}
}