.app-header {
    min-height: 160px;
    padding: 5px 12px 20px 12px;
    box-shadow: 0 0 0 0;
}

.app-header .top-bar {
    margin: 0 auto;
    height: 90px;
    position: relative
}

.top-bar #seedsVietnam-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top-bar .subscribe, .top-bar .user-account {
    height: 90px;
    display:flex;
    align-items:center;
}

.subscribe-btn, .sign-in-btn {
    border: 1px #3dcc91 solid;
    padding: 9px;
}

.overlay-subscription  {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}

.overlay-subscription-content  {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  border: 1px solid green;
  border-radius: 5px;
  animation-name: overlay-isOpen;
  animation-duration: 1.5s;
}

.overlay-header {
  background: Green;
  padding: 15px;
  color: #fff;
}

.closeBtn {
  float: right;
  color: #ccc;
  font-size: 30px;
}

.closeBtn:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.overlay-header h2, .overlay-body h3 {
  text-align: center;
  margin: 0;
}

.overlay-body {
  padding: 10px 20px;
}

.overlay-footer {
  background: Green;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.overlay-footer > .subscribe-btn {
  border-radius: 5px;
  background-color: white;
}

.overlay-footer > .subscribe-btn:hover {
  background-color: white;
  opacity: 0.6;
}

.keyframes overlay-isOpen {
  from {opacity: 0}
  to {opacity: 1}
}

.mobile-menu-overlay {
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 7px 0 0 0 #888888;
}

.mobile-menu-overlay .bp3-overlay-backdrop {
    background-color: black;
}

.mobile-menu-option:not(:first-of-type) {
    margin-top: 15px;
    padding: 10px;
    border-bottom: 1px white groove;
}

.mobile-menu-button[show="true"] {
    position: relative;
    left: 300px;
}

.mobile-menu-button[show="false"] {
    position: relative;
    left: 0px;
}
