@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.balooFont	{
	font-family: 'Baloo Tammudu', cursive;
	font-size: 50px;
}
@media(min-width: 881px)	{
	.flex-box	{
		display: flex;
		margin-left: 15vw;
		margin-right: 15vw;
		width: 60vw;
		justify-content: space-around;
	}
	.title	{
		font-size: 20vw;
	}
	.box {
		flex: 1;
		align-items: center;
	}
}
@media(max-width: 880px)	{
	.flex-box	{
		display: flex;
		flex-direction: column;
		margin-left: 15vw;
		margin-right: 15vw;
		width: 60vw;
	}
	.title	{
		font-size: 20px;
	}
	.box {
		flex: 1;
	}
	.logo	{
		margin-left: 30vw;
		margin-right: 30vw;
	}
}

@media(max-width: 564px)	{
	.logo	{
		margin-left: 20vw;
		margin-right: 20vw;
	}
}

.logo	{
	display: flex;
	width: 270;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 35vw; 
	margin-right: 35vw;
}

.subcribe-box	{
	display: flex;
	flex-direction: column;
	width: 50vw;
	border: 3px solid black;
	margin-left: 20vw;
	margin-right: 20vw;
}

.common-box	{
	margin: 1vw;
	border: 1px solid white;
	border-bottom-color: black;
	font-size: 20px;
}

.icon {
	padding: 0.8vw;
	background: dodgerblue;
	color: white;
	min-width: 50px;
	text-align: center;
	border: 1px;
	border-radius: 10px;
}

.button-decoration	{
	text-align: center;
	background-color: OrangeRed;
	font-size: 20px;
	min-width: 20px;
	padding: 10px;
	margin: 5px 5px 5px 20px;
	border: 1px;
	border-radius: 10px;
}

.button-decoration:hover	{
	opacity: 0.8;
	box-shadow: 3px 3px 5px 2px gray;
}


