@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import url(//fonts.googleapis.com/css?family=Open+Sans);

#root {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
}

.error-tooltip {
    color: red;
    font-size: 0.9em;
    margin-top: 2px;
}

/* For desktop, tablets and ipads*/
@media only screen and (min-device-width: 768px) {
    .App {
        text-align: center;
        min-width: 1140px;
        max-width: 1300px;
        margin: 0 auto;
    }

    .bp3-navbar { min-width: 1100px; max-width: 1300px; }

    .Main {
        min-width: 1100px;
        max-width: 1300px;
        background-color: rgb(255, 255, 255);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px rgb(172, 172, 172);
    }

    .lightBar { min-width: 1100px; max-width: 1300px; }

    .menu-bar-desktop { position: absolute; width: 100%; }

    .menu-bar-mobile { display: none }

    .menu-options { width: calc((100% - 40px) / 6); }

    .bp3-navbar-divider { height: 40px; }

    .bp3-portal, .bp3-overlay { width: 100%; height: 100% }
}

/* For Galaxy S5/6/7/8, iPhone 6/7/8/X */
@media only screen and (min-device-width: 330px) and (max-device-width: 410px) {
    .App { text-align: center; }

    .Main {
        background-color: rgb(255, 255, 255);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px rgb(172, 172, 172);
    }

    .menu-bar-desktop { display: none; }

    .menu-options { width: calc((100% - 40px) / 6); }

    .bp3-navbar-divider { height: 40px; }

    .blog-content .content, .blog-footer {
        padding-left: 3em !important;
        padding-right: 3em !important;
    }

    .DraftEditor-root figure img { width: 100% !important; }

    .blog-viewer .blog-action-bar-vertical { width: 3em !important; }
}

/* For iPhone 6/7/8 PLUS, Pixel 2/2XL */
@media only screen and (min-device-width: 410px) and (max-device-width: 767px) {
    .App {
        text-align: center;
    }

    .bp3-navbar {
    }

    .Main {
        background-color: rgb(255, 255, 255);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px rgb(172, 172, 172);
    }

    .lightBar {
    }

    .menu-bar-desktop {
        display: none;
    }

    .menu-options {
        width: calc((100% - 40px) / 6);
    }

    .bp3-navbar-divider {
        height: 40px;
    }
}

/* For iPhone 5S and all other smaller screen devices */
@media only screen and (max-device-width: 320px) {
    .App {
        text-align: center;
    }

    .bp3-navbar {
    }

    .Main {
        background-color: rgb(255, 255, 255);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px rgb(172, 172, 172);
    }

    .lightBar {
    }

    .menu-bar-desktop {
        display: none;
    }

    .menu-options {
        width: calc((100% - 40px) / 6);
    }

    .bp3-navbar-divider {
        height: 40px;
    }
}
